WS_Client/src/main/java/proxy/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="BankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertMADToEuro">
<part name="parameters" element="tns:convertMADToEuro"/>
</message>
<message name="convertMADToEuroResponse">
<part name="parameters" element="tns:convertMADToEuroResponse"/>
</message>
<message name="getAccountList">
<part name="parameters" element="tns:getAccountList"/>
</message>
<message name="getAccountListResponse">
<part name="parameters" element="tns:getAccountListResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="BankService">
<operation name="convertMADToEuro">
<input wsam:Action="http://services/BankService/convertMADToEuroRequest" message="tns:convertMADToEuro"/>
<output wsam:Action="http://services/BankService/convertMADToEuroResponse" message="tns:convertMADToEuroResponse"/>
</operation>
<operation name="getAccountList">
<input wsam:Action="http://services/BankService/getAccountListRequest" message="tns:getAccountList"/>
<output wsam:Action="http://services/BankService/getAccountListResponse" message="tns:getAccountListResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://services/BankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://services/BankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertMADToEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServiceService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>